---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import samarbeidImg from "../assets/samarbeid.jpg";
import CoreService from "../components/CoreService.astro";

const heroContent = {
  h11: "Gode teknologiløsninger",
  h12: "Mer tid til å gjøre det dere er best på",
  h2: "",
  p: "Jeg hjelper små og mellomstore bedrifter ta i bruk teknologi for å løse probler, forenkle hverdagen, systematisere og automatisere"
};
---

<Layout>
  <Hero h11={heroContent.h11} h12={heroContent.h12} h2={heroContent.h2} p={heroContent.p} imgSrc={samarbeidImg} imgAlt="samarbeid" ctaBtns={true} ctaBtnLeftLink="./coming-soon" ctaBtnLeftText="Ta kontakt" ctaBtnRightLink="./coming-soon" ctaBtnRightText="Hva kan jeg bidra med?"/>
  <CoreService heading="Samhandling Helt enkelt" scrollingHeader="Arbeidsstyring" pargraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ezibus mirandis maraculis ponter dustibus ergum!" xStart={`20%`} xEnd={`-20%`} offset={0} />
  <CoreService heading="Samhandling Helt enkelt" scrollingHeader="Integrasjoner" pargraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ezibus mirandis maraculis ponter dustibus ergum!" xStart={`20%`} xEnd={`-20%`} offset={0.3} />
  <CoreService heading="Sømløse Webopplevelser" scrollingHeader="Utvikling" pargraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ezibus mirandis maraculis ponter dustibus ergum!" xStart={`20%`} xEnd={`-20%`} offset={0.6} />
  <div class="massePlass"></div>
</Layout>

<style>

  .massePlass {
    height: 100vh;
  }
</style>