---
import CtaBtn from "./CtaBtn.astro";

export interface Props {
    h11: string;
    h12: string;
    h2: string;
    p: string;
    imgSrc?: string;
    imgAlt?: string;
    ctaBtns?: boolean;
    ctaBtnRightLink?: string;
    ctaBtnLeftLink?: string;
    ctaBtnRightText?: string;
    ctaBtnLeftText?: string;
    
}

const {h11, h12, h2, p, imgSrc, imgAlt, ctaBtns=false, ctaBtnLeftText, ctaBtnLeftLink="", ctaBtnRightText, ctaBtnRightLink=""} = Astro.props;

const turqouise = "#4796AE";
const seaBlue = "#556F7A";
---
<section>
    <p class="sub">{h2}</p>
    <h1>{h11}<br>{h12}</h1>
    <p>{p}</p>
    {ctaBtns &&
        <div class="ctaWrapper">
            <CtaBtn btnUrl={ctaBtnLeftLink} btnOpen={false} btnColor={turqouise} btnDeepColor={seaBlue}>{ctaBtnLeftText}</CtaBtn>
            <CtaBtn btnUrl={ctaBtnRightLink} btnOpen={true} btnColor={turqouise}>{ctaBtnRightText}</CtaBtn>
        </div>
    }
    <div class="imgWrapper">
        <img src={imgSrc} alt={imgAlt} />
    </div>
</section>


<style>

    h1 {
      font-family: "libertine", sans-serif;
      font-size: 5rem;
      letter-spacing: -0.2rem;
      font-weight: 400;
      text-align: center;
      margin: 0;
      margin-bottom: 2rem;
      line-height: 1;
    }
  
    .sub {
      font-family: "inter", sans-serif;
      font-size: 1.125rem;
      font-weight: 500;
      letter-spacing: .1rem;
      line-height: 1.2rem;
      text-align: center;
      margin-top: 5rem;
      color: #222829;
    }
  
    p {
      font-family: "inter", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-align: center;
      margin-top: 2rem;
      color: #222829;
      max-width: 45rem;
      text-align: center;
      margin: 1rem auto;
    }

    .ctaWrapper {
        margin: 4rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgWrapper{
        max-width: 70rem;
        margin: auto;
    }

    img {
        width: 100%;
    }
  
  </style>